body {
  background-color: #282c34 !important;
}

#logoContainer {
  margin:20px;
  position: absolute;
  color: #ccc;
  font-weight: 300;
}

#logoContainer #logoWrap {
  display: flex;
  margin-bottom: 6px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 14px;
    color: #a09a9a;
    font-family: 'Roboto', sans-serif;
}

#logoContainer #logoWrap img {
  width: 50px;
  -webkit-filter: drop-shadow(.5px .5px .5px rgb(000, 000, 000, .8));
  height: 50px;
  margin: 0px;
  border-radius: 102px;
}

.appInfo {
  position: fixed;
  display: flex;
  bottom: 10px;
  right: 30px;
  font-size: 13px;
}

.appInfo img.github {
  border-radius: 100px;
  width: 25px;
  height: 25px;
}

.appInfo p#dataSource {
  padding-top: 3px;
  padding-right: 13px;
}


#logoContainer #logoWrap h5 {
  padding-left: 15px;
  padding-top: 5px;
  color: rgb(0,0,0) !important;
  -webkit-text-stroke: 0.05em;
  -webkit-text-stroke-color: rgb(207, 203, 196);
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 31px;
  text-shadow: rgb(10, 10, 11) 1px 1px 1px;
}

/* covid Map CSS start */
svg.rsm-svg {
    max-height: 100%;
    margin-width: 100%;
}

p.renderDesc {
  margin-bottom: 0;
  font-size: 11px !important;
  padding-left: 90px !important;
}

/* covid Map CSS end */
/* mapKey */

#mapControls {
  position: absolute;
  bottom: 40px;
  left: 20px;
  width: 25%;
  color: #fff;
}

#mapControls p {
  font-size: 16px;
  padding-left: 6px;
}

#mapControls button {
  border-radius: 2px;
  width: 300px;
  margin: 5px;
  font-size: 17px;
  background-color: #ccc;
  color: #000;
}

#mapControls button.active {
  color: #fff;
  background-color:#333842;
}

@media(max-width:800px) {

  #logoContainer #logoWrap h5 {

    color: rgb(232, 230, 227);
    -webkit-text-stroke-color: rgb(207, 203, 196);
    text-shadow: rgb(10, 10, 11) 1px 1px 1px;
    font-size: 19px;

  }

  #logoContainer #logoWrap img {

    border-color: rgba(100, 94, 94, 0.7);
    width: 30px;
    height: 30px;

  }

}
