
/* dark reader css styles  */
.jfk-bubble {
  filter: invert(100%) hue-rotate(180deg) contrast(90%) !important;
}
[data-darkreader-inline-bgcolor] {
background-color: var(--darkreader-inline-bgcolor) !important;
}
[data-darkreader-inline-bgimage] {
background-image: var(--darkreader-inline-bgimage) !important;
}
[data-darkreader-inline-border] {
border-color: var(--darkreader-inline-border) !important;
}
[data-darkreader-inline-border-bottom] {
border-bottom-color: var(--darkreader-inline-border-bottom) !important;
}
[data-darkreader-inline-border-left] {
border-left-color: var(--darkreader-inline-border-left) !important;
}
[data-darkreader-inline-border-right] {
border-right-color: var(--darkreader-inline-border-right) !important;
}
[data-darkreader-inline-border-top] {
border-top-color: var(--darkreader-inline-border-top) !important;
}
[data-darkreader-inline-boxshadow] {
box-shadow: var(--darkreader-inline-boxshadow) !important;
}
[data-darkreader-inline-color] {
color: var(--darkreader-inline-color) !important;
}
[data-darkreader-inline-fill] {
fill: var(--darkreader-inline-fill) !important;
}
[data-darkreader-inline-stroke] {
stroke: var(--darkreader-inline-stroke) !important;
}
[data-darkreader-inline-outline] {
outline-color: var(--darkreader-inline-outline) !important;
}
html {
  background-color: #181a1b !important;
}
html, body, input, textarea, select, button {
  background-color: #181a1b;
}
html, body, input, textarea, select, button {
  border-color: #575757;
  color: #e8e6e3;
}
a {
  color: #3391ff;
}
table {
  border-color: #4c4c4c;
}
::placeholder {
  color: #bab5ab;
}
::selection {
  background-color: #005ccc;
  color: #ffffff;
}
::-moz-selection {
  background-color: #005ccc;
  color: #ffffff;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #545b00 !important;
  color: #e8e6e3 !important;
}
::-webkit-scrollbar {
  background-color: #1c1e1f;
  color: #c5c1b9;
}
::-webkit-scrollbar-thumb {
  background-color: #2a2c2e;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #323537;
}
::-webkit-scrollbar-thumb:active {
  background-color: #3d4043;
}
::-webkit-scrollbar-corner {
  background-color: #181a1b;
}
* {
  scrollbar-color: #2a2c2e #1c1e1f;
}

.vimvixen-hint {
  background-color: #7b5300 !important;
  border-color: #d8b013 !important;
  color: #f3e8c8 !important;
}
::placeholder {
  opacity: 0.5 !important;
}

.jfk-bubble { filter: invert(100%) hue-rotate(180deg) contrast(90%) !important; }
[data-darkreader-inline-bgcolor] { background-color: var(--darkreader-inline-bgcolor)  !important; }
[data-darkreader-inline-bgimage] { background-image: var(--darkreader-inline-bgimage)  !important; }
[data-darkreader-inline-border] { border-color: var(--darkreader-inline-border)  !important; }
[data-darkreader-inline-border-bottom] { border-bottom-color: var(--darkreader-inline-border-bottom)  !important; }
[data-darkreader-inline-border-left] { border-left-color: var(--darkreader-inline-border-left)  !important; }
[data-darkreader-inline-border-right] { border-right-color: var(--darkreader-inline-border-right)  !important; }
[data-darkreader-inline-border-top] { border-top-color: var(--darkreader-inline-border-top)  !important; }
[data-darkreader-inline-boxshadow] { box-shadow: var(--darkreader-inline-boxshadow)  !important; }
[data-darkreader-inline-color] { color: var(--darkreader-inline-color)  !important; }
[data-darkreader-inline-fill] { fill: var(--darkreader-inline-fill)  !important; }
[data-darkreader-inline-stroke] { stroke: var(--darkreader-inline-stroke)  !important; }
[data-darkreader-inline-outline] { outline-color: var(--darkreader-inline-outline)  !important; }
html { background-color: rgb(24, 26, 27) !important; }
html, body, input, textarea, select, button { background-color: rgb(24, 26, 27); }
html, body, input, textarea, select, button { border-color: rgb(87, 87, 87); color: rgb(232, 230, 227); }
a { color: rgb(51, 145, 255); }
table { border-color: rgb(76, 76, 76); }
::placeholder { color: rgb(186, 181, 171); }
::selection { background-color: rgb(0, 92, 204); color: rgb(255, 255, 255); }
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { background-color: rgb(84, 91, 0) !important; color: rgb(232, 230, 227) !important; }
::-webkit-scrollbar { background-color: rgb(28, 30, 31); color: rgb(197, 193, 185); }
::-webkit-scrollbar-thumb { background-color: rgb(42, 44, 46); }
::-webkit-scrollbar-thumb:hover { background-color: rgb(50, 53, 55); }
::-webkit-scrollbar-thumb:active { background-color: rgb(61, 64, 67); }
::-webkit-scrollbar-corner { background-color: rgb(24, 26, 27); }
* { }
body { background-color: rgb(40, 44, 52) !important; }
#logoContainer { color: rgb(209, 206, 199); }
p { color: rgb(185, 180, 170); }
#logoContainer #logoWrap img { border-color: rgba(100, 94, 94, 0.7); }
#logoContainer #logoWrap h5 { color: rgb(232, 230, 227); -webkit-text-stroke-color: rgb(207, 203, 196); text-shadow: rgb(10, 10, 11) 1px 1px 1px; }
#mapControls { color: rgb(255, 255, 255); }
#mapControls button { background-color: rgb(39, 41, 43); color: rgb(232, 230, 227); }
#mapControls button.active { color: rgb(255, 255, 255); background-color: rgb(51, 56, 66); }
[data-darkreader-inline-bgimage] { background-image: var(--darkreader-inline-bgimage) !important; }
[data-darkreader-inline-boxshadow] { box-shadow: var(--darkreader-inline-boxshadow) !important; }
html { background-color: rgb(24, 26, 27) !important; }
html, body, input, textarea, select, button { background-color: rgb(24, 26, 27); border-color: rgb(85, 85, 85); color: rgb(232, 230, 227); }
a { color: rgb(51, 161, 255); }
table { border-color: rgb(87, 87, 87); }
::placeholder { color: rgb(186, 181, 171); }
::selection { background-color: rgb(0, 92, 204); color: rgb(255, 255, 255); }
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { background-color: rgb(84, 91, 0) !important; color: rgb(232, 230, 227) !important; }
::-webkit-scrollbar { background-color: rgb(28, 30, 31); color: rgb(197, 193, 185); }
::-webkit-scrollbar-thumb { background-color: rgb(42, 44, 46); }
::-webkit-scrollbar-thumb:hover { background-color: rgb(50, 53, 55); }
::-webkit-scrollbar-thumb:active { background-color: rgb(61, 65, 67); }
::-webkit-scrollbar-corner { background-color: rgb(24, 26, 27); }
.vimvixen-hint { background-color: rgb(123, 83, 0) !important; border-color: rgb(184, 150, 16) !important; color: rgb(243, 232, 200) !important; }
html { -webkit-tap-highlight-color: transparent; }
body { color: rgb(218, 215, 210); background-color: rgb(24, 26, 27); }
abbr[data-original-title], abbr[title] { text-decoration-color: initial; border-bottom-color: initial; }
a { color: rgb(51, 162, 255); text-decoration-color: initial; background-color: transparent; }
a:hover { color: rgb(97, 183, 255); text-decoration-color: initial; }
a:not([href]) { color: inherit; text-decoration-color: initial; }
a:not([href]):hover { color: inherit; text-decoration-color: initial; }
caption { color: rgb(189, 184, 174); }
button:focus { outline-color: rgb(209, 138, 0); }
fieldset { border-color: initial; }
legend { color: inherit; }
hr { border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-top-color: rgba(102, 102, 102, 0.1); }
.mark, mark { background-color: rgb(61, 52, 7); }
.blockquote-footer { color: rgb(189, 184, 174); }
.img-thumbnail { background-color: rgb(24, 26, 27); border-color: rgb(52, 60, 69); }
.figure-caption { color: rgb(189, 184, 174); }
code { color: rgb(234, 82, 152); }
a > code { color: inherit; }
kbd { color: rgb(255, 255, 255); background-color: rgb(35, 37, 39); }
pre { color: rgb(218, 215, 210); }
pre code { color: inherit; }


.accordion > .card:not(:first-of-type):not(:last-of-type) { border-bottom-color: initial; }
.accordion > .card:first-of-type { border-bottom-color: initial; }
.breadcrumb { background-color: rgb(30, 32, 34); }
.breadcrumb-item + .breadcrumb-item::before { color: rgb(189, 184, 174); }
.breadcrumb-item + .breadcrumb-item:hover::before { text-decoration-color: initial; }
.breadcrumb-item.active { color: rgb(189, 184, 174); }
.page-link { color: rgb(51, 162, 255); background-color: rgb(24, 26, 27); border-color: rgb(52, 60, 69); }
.page-link:hover { color: rgb(97, 183, 255); text-decoration-color: initial; background-color: rgb(30, 32, 34); border-color: rgb(52, 60, 69); }
.page-link:focus { outline-color: initial; box-shadow: rgba(0, 98, 204, 0.25) 0px 0px 0px 0.2rem; }
.page-item.active .page-link { color: rgb(255, 255, 255); background-color: rgb(0, 98, 204); border-color: rgb(0, 98, 204); }
.page-item.disabled .page-link { color: rgb(189, 184, 174); background-color: rgb(24, 26, 27); border-color: rgb(52, 60, 69); }
a.badge:focus, a.badge:hover { text-decoration-color: initial; }
.badge-primary { color: rgb(255, 255, 255); background-color: rgb(0, 98, 204); }
a.badge-primary:focus, a.badge-primary:hover { color: rgb(255, 255, 255); background-color: rgb(0, 98, 204); }
a.badge-primary.focus, a.badge-primary:focus { outline-color: initial; box-shadow: rgba(0, 98, 204, 0.5) 0px 0px 0px 0.2rem; }
.badge-secondary { color: rgb(255, 255, 255); background-color: rgb(63, 67, 70); }
a.badge-secondary:focus, a.badge-secondary:hover { color: rgb(255, 255, 255); background-color: rgb(63, 67, 70); }
a.badge-secondary.focus, a.badge-secondary:focus { outline-color: initial; box-shadow: rgba(63, 67, 70, 0.5) 0px 0px 0px 0.2rem; }
.badge-success { color: rgb(255, 255, 255); background-color: rgb(34, 141, 58); }
a.badge-success:focus, a.badge-success:hover { color: rgb(255, 255, 255); background-color: rgb(30, 126, 52); }
a.badge-success.focus, a.badge-success:focus { outline-color: initial; box-shadow: rgba(34, 141, 58, 0.5) 0px 0px 0px 0.2rem; }
.badge-info { color: rgb(255, 255, 255); background-color: rgb(21, 146, 166); }
a.badge-info:focus, a.badge-info:hover { color: rgb(255, 255, 255); background-color: rgb(17, 122, 139); }
a.badge-info.focus, a.badge-info:focus { outline-color: initial; box-shadow: rgba(21, 146, 166, 0.5) 0px 0px 0px 0.2rem; }
.badge-warning { color: rgb(218, 215, 210); background-color: rgb(200, 150, 0); }
a.badge-warning:focus, a.badge-warning:hover { color: rgb(218, 215, 210); background-color: rgb(204, 153, 0); }
a.badge-warning.focus, a.badge-warning:focus { outline-color: initial; box-shadow: rgba(200, 150, 0, 0.5) 0px 0px 0px 0.2rem; }
.badge-danger { color: rgb(255, 255, 255); background-color: rgb(147, 25, 37); }
a.badge-danger:focus, a.badge-danger:hover { color: rgb(255, 255, 255); background-color: rgb(154, 27, 39); }
a.badge-danger.focus, a.badge-danger:focus { outline-color: initial; box-shadow: rgba(147, 25, 37, 0.5) 0px 0px 0px 0.2rem; }
.badge-light { color: rgb(218, 215, 210); background-color: rgb(26, 28, 29); }
a.badge-light:focus, a.badge-light:hover { color: rgb(218, 215, 210); background-color: rgb(35, 37, 38); }
a.badge-light.focus, a.badge-light:focus { outline-color: initial; box-shadow: rgba(26, 28, 29, 0.5) 0px 0px 0px 0.2rem; }
.badge-dark { color: rgb(255, 255, 255); background-color: rgb(55, 58, 61); }
a.badge-dark:focus, a.badge-dark:hover { color: rgb(255, 255, 255); background-color: rgb(31, 33, 34); }
a.badge-dark.focus, a.badge-dark:focus { outline-color: initial; box-shadow: rgba(55, 58, 61, 0.5) 0px 0px 0px 0.2rem; }
.jumbotron { background-color: rgb(30, 32, 34); }
.alert { border-color: transparent; }
.alert-heading { color: inherit; }
.alert-dismissible .close { color: inherit; }
.alert-primary { color: rgb(124, 195, 255); background-color: rgb(39, 41, 43); border-color: rgb(0, 80, 167); }
.alert-primary hr { border-top-color: rgb(0, 83, 172); }
.alert-primary .alert-link { color: rgb(210, 207, 200); }
.alert-secondary { color: rgb(209, 206, 199); background-color: rgb(32, 34, 36); border-color: rgb(56, 60, 64); }
.alert-secondary hr { border-top-color: rgb(59, 62, 67); }
.alert-secondary .alert-link { color: rgb(219, 216, 211); }
.alert-success { color: rgb(168, 234, 183); background-color: rgb(23, 54, 30); border-color: rgb(41, 99, 54); }
.alert-success hr { border-top-color: rgb(42, 103, 55); }
.alert-success .alert-link { color: rgb(219, 216, 211); }
.alert-info { color: rgb(156, 230, 243); background-color: rgb(18, 54, 60); border-color: rgb(34, 101, 112); }
.alert-info hr { border-top-color: rgb(36, 104, 115); }
.alert-info .alert-link { color: rgb(218, 215, 209); }
.alert-warning { color: rgb(251, 219, 127); background-color: rgb(81, 62, 0); border-color: rgb(167, 126, 0); }
.alert-warning hr { border-top-color: rgb(172, 130, 0); }
.alert-warning .alert-link { color: rgb(209, 206, 199); }
.alert-danger { color: rgb(230, 155, 162); background-color: rgb(64, 11, 16); border-color: rgb(129, 23, 34); }
.alert-danger hr { border-top-color: rgb(133, 24, 35); }
.alert-danger .alert-link { color: rgb(211, 207, 201); }
.alert-light { color: rgb(186, 181, 171); background-color: rgb(25, 26, 27); border-color: rgb(40, 40, 80); }
.alert-light hr { border-top-color: rgb(40, 40, 85); }
.alert-light .alert-link { color: rgb(195, 190, 181); }
.alert-dark { color: rgb(221, 218, 213); background-color: rgb(36, 38, 40); border-color: rgb(61, 63, 65); }
.alert-dark hr { border-top-color: rgb(63, 65, 68); }
.alert-dark .alert-link { color: rgb(230, 229, 225); }
.progress { background-color: rgb(30, 32, 34); }
.progress-bar { color: rgb(255, 255, 255); background-color: rgb(0, 98, 204); }
.progress-bar-striped { background-image: linear-gradient(45deg, rgba(24, 26, 27, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(24, 26, 27, 0.15) 50%, rgba(24, 26, 27, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)); }
.list-group-item-action { color: rgb(202, 198, 190); }
.list-group-item-action:focus, .list-group-item-action:hover { color: rgb(202, 198, 190); text-decoration-color: initial; background-color: rgb(26, 28, 29); }
.list-group-item-action:active { color: rgb(218, 215, 210); background-color: rgb(30, 32, 34); }
.list-group-item { background-color: rgb(24, 26, 27); border-color: rgba(102, 102, 102, 0.13); }
.list-group-item.disabled, .list-group-item:disabled { color: rgb(189, 184, 174); background-color: rgb(24, 26, 27); }
.list-group-item.active { color: rgb(255, 255, 255); background-color: rgb(0, 98, 204); border-color: rgb(0, 98, 204); }
.list-group-flush .list-group-item { border-right-color: initial; border-left-color: initial; }
.list-group-flush:first-child .list-group-item:first-child { border-top-color: initial; }
.list-group-flush:last-child .list-group-item:last-child { border-bottom-color: initial; }
.list-group-item-primary { color: rgb(124, 195, 255); background-color: rgb(44, 47, 49); }
.list-group-item-primary.list-group-item-action:focus, .list-group-item-primary.list-group-item-action:hover { color: rgb(124, 195, 255); background-color: rgb(52, 55, 57); }
.list-group-item-primary.list-group-item-action.active { color: rgb(255, 255, 255); background-color: rgb(0, 64, 133); border-color: rgb(0, 110, 228); }
.list-group-item-secondary { color: rgb(209, 206, 199); background-color: rgb(36, 38, 40); }
.list-group-item-secondary.list-group-item-action:focus, .list-group-item-secondary.list-group-item-action:hover { color: rgb(209, 206, 199); background-color: rgb(40, 42, 44); }
.list-group-item-secondary.list-group-item-action.active { color: rgb(255, 255, 255); background-color: rgb(57, 61, 64); border-color: rgb(85, 93, 99); }
.list-group-item-success { color: rgb(168, 234, 183); background-color: rgb(26, 61, 34); }
.list-group-item-success.list-group-item-action:focus, .list-group-item-success.list-group-item-action:hover { color: rgb(168, 234, 183); background-color: rgb(28, 69, 37); }
.list-group-item-success.list-group-item-action.active { color: rgb(255, 255, 255); background-color: rgb(21, 87, 36); border-color: rgb(42, 172, 71); }
.list-group-item-info { color: rgb(156, 230, 243); background-color: rgb(21, 62, 69); }
.list-group-item-info.list-group-item-action:focus, .list-group-item-info.list-group-item-action:hover { color: rgb(156, 230, 243); background-color: rgb(24, 70, 77); }
.list-group-item-info.list-group-item-action.active { color: rgb(255, 255, 255); background-color: rgb(12, 84, 96); border-color: rgb(25, 173, 197); }
.list-group-item-warning { color: rgb(251, 219, 127); background-color: rgb(92, 70, 0); }
.list-group-item-warning.list-group-item-action:focus, .list-group-item-warning.list-group-item-action:hover { color: rgb(251, 219, 127); background-color: rgb(107, 81, 0); }
.list-group-item-warning.list-group-item-action.active { color: rgb(255, 255, 255); background-color: rgb(133, 100, 4); border-color: rgb(218, 164, 7); }
.list-group-item-danger { color: rgb(230, 155, 162); background-color: rgb(72, 13, 19); }
.list-group-item-danger.list-group-item-action:focus, .list-group-item-danger.list-group-item-action:hover { color: rgb(230, 155, 162); background-color: rgb(84, 15, 22); }
.list-group-item-danger.list-group-item-action.active { color: rgb(255, 255, 255); background-color: rgb(114, 28, 36); border-color: rgb(166, 41, 52); }
.list-group-item-light { color: rgb(186, 181, 171); background-color: rgb(25, 26, 27); }
.list-group-item-light.list-group-item-action:focus, .list-group-item-light.list-group-item-action:hover { color: rgb(186, 181, 171); background-color: rgb(30, 31, 33); }
.list-group-item-light.list-group-item-action.active { color: rgb(255, 255, 255); background-color: rgb(60, 64, 66); border-color: rgb(76, 76, 77); }
.list-group-item-dark { color: rgb(221, 218, 213); background-color: rgb(40, 43, 45); }
.list-group-item-dark.list-group-item-action:focus, .list-group-item-dark.list-group-item-action:hover { color: rgb(221, 218, 213); background-color: rgb(44, 47, 49); }
.list-group-item-dark.list-group-item-action.active { color: rgb(255, 255, 255); background-color: rgb(28, 30, 31); border-color: rgb(89, 99, 108); }
.close { color: rgb(232, 230, 227); text-shadow: rgb(24, 26, 27) 0px 1px 0px; }
.close:hover { color: rgb(232, 230, 227); text-decoration-color: initial; }
button.close { background-color: transparent; border-color: initial; }
.toast { background-color: rgba(24, 26, 27, 0.85); border-color: rgba(102, 102, 102, 0.1); box-shadow: rgba(0, 0, 0, 0.1) 0px 0.25rem 0.75rem; }
.toast-header { color: rgb(189, 184, 174); background-color: rgba(24, 26, 27, 0.85); border-bottom-color: rgba(102, 102, 102, 0.05); }
.modal { outline-color: initial; }
.modal-content { background-color: rgb(24, 26, 27); border-color: rgba(102, 102, 102, 0.2); outline-color: initial; }
.modal-backdrop { background-color: rgb(0, 0, 0); }
.modal-header { border-bottom-color: rgb(52, 60, 69); }
.modal-footer { border-top-color: rgb(52, 60, 69); }
.tooltip { text-decoration-color: initial; text-shadow: none; }
.tooltip .arrow::before { border-color: transparent; }
.bs-tooltip-auto[x-placement^="top"] .arrow::before, .bs-tooltip-top .arrow::before { border-top-color: rgb(102, 102, 102); }
.bs-tooltip-auto[x-placement^="right"] .arrow::before, .bs-tooltip-right .arrow::before { border-right-color: rgb(102, 102, 102); }
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before, .bs-tooltip-bottom .arrow::before { border-bottom-color: rgb(102, 102, 102); }
.bs-tooltip-auto[x-placement^="left"] .arrow::before, .bs-tooltip-left .arrow::before { border-left-color: rgb(102, 102, 102); }
.tooltip-inner { color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); }
.popover { text-decoration-color: initial; text-shadow: none; background-color: rgb(24, 26, 27); border-color: rgba(102, 102, 102, 0.2); }
.popover .arrow::after, .popover .arrow::before { border-color: transparent; }
.bs-popover-auto[x-placement^="top"] > .arrow::before, .bs-popover-top > .arrow::before { border-top-color: rgba(102, 102, 102, 0.25); }
.bs-popover-auto[x-placement^="top"] > .arrow::after, .bs-popover-top > .arrow::after { border-top-color: rgb(51, 51, 51); }
.bs-popover-auto[x-placement^="right"] > .arrow::before, .bs-popover-right > .arrow::before { border-right-color: rgba(102, 102, 102, 0.25); }
.bs-popover-auto[x-placement^="right"] > .arrow::after, .bs-popover-right > .arrow::after { border-right-color: rgb(51, 51, 51); }
.bs-popover-auto[x-placement^="bottom"] > .arrow::before, .bs-popover-bottom > .arrow::before { border-bottom-color: rgba(102, 102, 102, 0.25); }
.bs-popover-auto[x-placement^="bottom"] > .arrow::after, .bs-popover-bottom > .arrow::after { border-bottom-color: rgb(51, 51, 51); }
.bs-popover-auto[x-placement^="bottom"] .popover-header::before, .bs-popover-bottom .popover-header::before { border-bottom-color: rgb(53, 53, 53); }
.bs-popover-auto[x-placement^="left"] > .arrow::before, .bs-popover-left > .arrow::before { border-left-color: rgba(102, 102, 102, 0.25); }
.bs-popover-auto[x-placement^="left"] > .arrow::after, .bs-popover-left > .arrow::after { border-left-color: rgb(51, 51, 51); }
.popover-header { background-color: rgb(27, 28, 29); border-bottom-color: rgb(55, 55, 55); }
.popover-body { color: rgb(218, 215, 210); }
.carousel-control-next, .carousel-control-prev { color: rgb(255, 255, 255); }
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover { color: rgb(255, 255, 255); text-decoration-color: initial; outline-color: initial; }
.carousel-control-next-icon, .carousel-control-prev-icon { background-image: initial; background-color: initial; }
.carousel-control-prev-icon { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e"); }
.carousel-control-next-icon { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e"); }
.carousel-indicators li { background-color: rgb(24, 26, 27); border-top-color: transparent; border-bottom-color: transparent; }
.carousel-caption { color: rgb(255, 255, 255); }
.spinner-border { border-color: currentcolor transparent currentcolor currentcolor; }
.spinner-grow { background-color: currentcolor; }
.bg-primary { background-color: rgb(0, 98, 204) !important; }
a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover { background-color: rgb(0, 98, 204) !important; }
.bg-secondary { background-color: rgb(63, 67, 70) !important; }
a.bg-secondary:focus, a.bg-secondary:hover, button.bg-secondary:focus, button.bg-secondary:hover { background-color: rgb(63, 67, 70) !important; }
.bg-success { background-color: rgb(34, 141, 58) !important; }
a.bg-success:focus, a.bg-success:hover, button.bg-success:focus, button.bg-success:hover { background-color: rgb(30, 126, 52) !important; }
.bg-info { background-color: rgb(21, 146, 166) !important; }
a.bg-info:focus, a.bg-info:hover, button.bg-info:focus, button.bg-info:hover { background-color: rgb(17, 122, 139) !important; }
.bg-warning { background-color: rgb(200, 150, 0) !important; }
a.bg-warning:focus, a.bg-warning:hover, button.bg-warning:focus, button.bg-warning:hover { background-color: rgb(204, 153, 0) !important; }
.bg-danger { background-color: rgb(147, 25, 37) !important; }
a.bg-danger:focus, a.bg-danger:hover, button.bg-danger:focus, button.bg-danger:hover { background-color: rgb(154, 27, 39) !important; }
.bg-light { background-color: rgb(26, 28, 29) !important; }
a.bg-light:focus, a.bg-light:hover, button.bg-light:focus, button.bg-light:hover { background-color: rgb(35, 37, 38) !important; }
.bg-dark { background-color: rgb(55, 58, 61) !important; }
a.bg-dark:focus, a.bg-dark:hover, button.bg-dark:focus, button.bg-dark:hover { background-color: rgb(31, 33, 34) !important; }
.bg-white { background-color: rgb(24, 26, 27) !important; }
.bg-transparent { background-color: transparent !important; }
.border { border-color: rgb(52, 60, 69) !important; }
.border-top { border-top-color: rgb(52, 60, 69) !important; }
.border-right { border-right-color: rgb(52, 60, 69) !important; }
.border-bottom { border-bottom-color: rgb(52, 60, 69) !important; }
.border-left { border-left-color: rgb(52, 60, 69) !important; }
.border-0 { border-color: initial !important; }
.border-top-0 { border-top-color: initial !important; }
.border-right-0 { border-right-color: initial !important; }
.border-bottom-0 { border-bottom-color: initial !important; }
.border-left-0 { border-left-color: initial !important; }
.border-primary { border-color: rgb(0, 98, 204) !important; }
.border-secondary { border-color: rgb(75, 81, 86) !important; }
.border-success { border-color: rgb(37, 156, 65) !important; }
.border-info { border-color: rgb(22, 158, 180) !important; }
.border-warning { border-color: rgb(203, 152, 0) !important; }
.border-danger { border-color: rgb(158, 27, 40) !important; }
.border-light { border-color: rgb(47, 56, 66) !important; }
.border-dark { border-color: rgb(83, 93, 103) !important; }
.border-white { border-color: rgb(51, 51, 51) !important; }
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video { border-color: initial; }
.sr-only { border-color: initial; }
.shadow-sm { box-shadow: rgba(0, 0, 0, 0.07) 0px 0.125rem 0.25rem !important; }
.shadow { box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem !important; }
.shadow-lg { box-shadow: rgba(0, 0, 0, 0.18) 0px 1rem 3rem !important; }
.shadow-none { box-shadow: none !important; }
.stretched-link::after { background-color: rgba(0, 0, 0, 0); }
.text-white { color: rgb(255, 255, 255) !important; }
.text-primary { color: rgb(51, 162, 255) !important; }
a.text-primary:focus, a.text-primary:hover { color: rgb(97, 183, 255) !important; }
.text-secondary { color: rgb(189, 184, 174) !important; }
a.text-secondary:focus, a.text-secondary:hover { color: rgb(203, 199, 191) !important; }
.text-success { color: rgb(127, 224, 149) !important; }
a.text-success:focus, a.text-success:hover { color: rgb(159, 232, 176) !important; }
.text-info { color: rgb(107, 219, 237) !important; }
a.text-info:focus, a.text-info:hover { color: rgb(146, 228, 241) !important; }
.text-warning { color: rgb(255, 204, 51) !important; }
a.text-warning:focus, a.text-warning:hover { color: rgb(255, 214, 92) !important; }
.text-danger { color: rgb(227, 94, 107) !important; }
a.text-danger:focus, a.text-danger:hover { color: rgb(232, 121, 132) !important; }
.text-light { color: rgb(250, 249, 248) !important; }
a.text-light:focus, a.text-light:hover { color: rgb(215, 212, 206) !important; }
.text-dark { color: rgb(210, 207, 200) !important; }
a.text-dark:focus, a.text-dark:hover { color: rgb(224, 222, 218) !important; }
.text-body { color: rgb(218, 215, 210) !important; }
.text-muted { color: rgb(189, 184, 174) !important; }
.text-black-50 { color: rgba(232, 230, 227, 0.5) !important; }
.text-white-50 { color: rgba(255, 255, 255, 0.5) !important; }
.text-hide { color: transparent; text-shadow: none; background-color: transparent; border-color: initial; }
.text-decoration-none { text-decoration-color: initial !important; }
.text-reset { color: inherit !important; }