body svg g {
    fill: #fff;
  }
  
  @media(max-width:800px) {
    #unitedStatesMap {
      margin-top: -56px;
    }
    #mapControls {
      position: fixed;
      bottom: 40px;
      left: 20px;
      width: 25%;
      color: #fff;
      top: 58%;
    }
  }
  
  @media(min-width:800px) {
    #unitedStatesMap {
      margin-top: -216px;
    }
  }

  .wsdm-tooltip {
    display: none;
    padding: 0.5rem 1rem;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 3px;
    pointer-events: none;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .wsdm-tooltip span {
    color: blue;
    font-weight: 500px;
    max-width: 50px;
  }

  p.dataPoint, .dataPoint {
    font-weight: 500px;
    line-height: .1 !important;
  }

  .wsdm-tooltip:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    margin-left: -0.5rem;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid rgba(255, 255, 255, 0.95);
  }